<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogContent</title>
</head>
<body>
    <div>
       <b><p><%= blog.title %></p></b>
       <b><p><%= blog.author %></p></b>
       <b><p><%= blog.content %></p></b>
    </div>
</body>
</html>