<% layout('/layouts/boilerplate') -%>

<body>
    <% allBlogs.slice(-9).reverse().forEach(blog => { %>
        <div>
            <p>
                <a href="/blogs/<%= blog._id %>">
                    <b><%= blog.title %></b>
                </a>
            </p>
        </div>
    <% }) %>
</body>