<footer>
    <div class="myfooter">
            <b><p>All Right Reserved Copyright &copy; Techblog</p></b>
            <p class="firstPartFooter">Experience our cutting-edge tech blog built with Node.js, MongoDB, Express.js, and Mongoose, ensuring seamless database connectivity and optimal performance. Explore innovation at its finest.</p>
    </div>
</footer>