<nav class="navbar">
      <div class="logo mx-5"><a href="/"><i class="fa-solid fa-blog">TechBlog</i></a></div>
      <ul class="navUl">
        <li><a href="/" class="activeNavLink">Home</a></li>
        <li><a href="/about" class="activeNavLink">About</a></li>
        <li><a href="/blogs" class="activeNavLink">Blog</a></li>
        <li><a href="/addblog" class="activeNavLink">Add Blog</a></li>
        <li><a href="/contact" class="activeNavLink">Contact</a></li>
      </ul>
      <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</nav>



