<nav class="navbar">
      <div class="logo mx-5"><a href="/"><i class="fa-solid fa-blog">TechBlog</i></a></div>
      <ul class="navUl">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/blogs/addblog">Add Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</nav>